{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url(/static/assets/img/post-bg.jpg); image-rendering: optimizeSpeed;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 style="color: red">Admin Panel</h1>
                    <span class="subheading"
                        style="color:rgb(12, 187, 41); font-family: 'Lucida Sans';text-rendering: optimizeSpeed; font-size:50px; font-weight: lighter; ">Manage
                        your post and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1>Basic Action </h1>
            <a href="/dashboard"><button class="btn btn-outline-primary"> Dashboard Home </button></a>
            <a href="/logout"> <button class="btn btn-outline-primary"> Logout </button></a>
            


<h1>Add/Edit posts</h1>

<form name="sentMessage" id="contactForm" action="/edit/{{post.sno}}" method="post" novalidate>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label style="color: Blue">Title</label>
        <input type="text" class="form-control" placeholder="title" id="title" name="title" required data-validation-required-message="Please enter your Title." value="{{post.title}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label style="color:green">Tagline</label>
        <input type="text" class="form-control" placeholder="Tag line" id="tline" name="tline" required data-validation-required-message="Please enter your tagline." value="{{post.tagline}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>slug</label>
        <input type="text" class="form-control" placeholder="Slug" id="slug" name="slug" required data-validation-required-message="Please enter your slug" value="{{post.slug}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>Content</label>
        <input rows="5" class="form-control" placeholder="Write your Content Heres" id="content" name="content" required data-validation-required-message="Please enter a message." value="{{post.content}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <div id="success"></div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
    </div>
  </form>







        </div>


    </div>
</div>
{% endblock %}