{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/home-bg.jpg'); image-rendering: optimizeSpeed;" >
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 style="color: red">{{params['tag_name']}}</h1>
                    <span class="subheading"
                        style="color:rgb(12, 187, 41); font-family: 'Lucida Sans';text-rendering: optimizeSpeed; font-size:50px; font-weight: lighter; ">{{params['tag_line']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->


            <!-- Todo Fetch it using for loop from the database-->

            {% for post in posts %}

            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.tagline}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">Start Bootstrap</a>
                    on {{post.date}}
                </p>
            </div>
            {{post.content[0:100]}}

            <hr class="my-4" />
            </a></li>
            {% endfor %}




            <!-- Pager-->
            <div class="clear-fix">
                {% if number != 0 %}
                <a class="btn btn-primary float-left" href="{{prev}}"> Older Posts</a>
                {% endif %}
                <a class="btn btn-primary float-right" href="{{next}}"> Newer Posts </a>
            </div>
    

        </div>
    </div>
</div>
{% endblock %}